[env]
PKG_CONFIG_PATH = { value = "../nos-v/.nosv-prefix/lib/pkgconfig", relative = true, force = true }

[target.'cfg(target_os = "linux")']
rustflags = ["-C", "link-arg=-Wl,-rpath,../nos-v/.nosv-prefix/lib"]
